@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__nuxt, #__nuxt > div {
  height: 100%;
  margin: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}